[Unit]
Description=Keyboard & Mouse monitor
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/python /home/makeypi/Desktop/keylist/keylist.py
WorkingDirectory=/home/makeypi/Desktop/keylist/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=makeypi

[Install]
WantedBy=multi-user.target