*.aif
*.asd
*.pyc
*.qlab5backup
*.mpeg
*.mov
trytoprint+wifidada Project/Backup/*
try again mic trig Project 2/Backup/*
try again mic trig Project 2/Samples/Recorded/tabouret grince.aif.asd
tryII Project/Icon
tryII Project/Icon
